@model Composing_ASP.NET_MVC.Models.Post

@{
    ViewBag.Title = "Create new post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new post</h2>
@{ Html.RenderPartial("PostForm", Model); }